body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
}
.name{
    color: black;
}
.profile-section {
    padding-top: 30px;
}

.profile-section h4 {
    margin-top: 15px;
    font-weight: bold;
}

.profile-section p {
    margin: 5px 0;
}

.feedback-section {
    margin-top: 40px;
}

.feedback-section h2 {
    font-size: 2rem;
    font-weight: bold;
}

.feedback-section img {
    margin-top: 20px;
}

footer {
    padding: 20px;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
}
.time-icon{
    width: 250px;
}
.prograce-icon{
    width: 400px;
}
.card-img-top{
    width: 200px;
    margin-top: 10px ;
}
.card{
    align-items: center;
    margin-top: 40px;
}
.css{
    width: 200px;
    height: 280px;
}
.java{
    height: 280px;
}
.Exam-icon{
    width: 300px;
}

.download-icon{
    width: 20px;
    
}

