
body{
  background-color: black;
  color: aqua;
}
#a1{
  background-color: black;
  color: aqua;
  padding: 20px;
}

.c1{
  color: aqua;

}



body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
.sidebar {
  min-width: 240px;
  background: #6e6f70;
  color: aqua;
  padding: 20px;
  overflow-y: auto;
}
.sidebar a {
  color:aqua;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: underline;
}
.content {
  flex: 1;
  padding: 20px;
  background:black;
  overflow-y: auto;
  color: aqua;
}
.footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}
.content-card {
  margin-bottom: 30px;
}


html, body {
  height: 100%;
  overflow: auto;
}

.container-fluid {
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevents overflow on the main container */
}

.row {
  height: 100%; /* Ensures the row takes full height */
  overflow: auto; /* Allows scrolling within the row */
}

.flex-nowrap {
  overflow: hidden; /* Prevents overflow in the flex container */
}

.col-auto {
  overflow: auto; /* Allows scrolling if content exceeds the height */
}

.a1{
  color: aqua;
  margin-top: 10px;
}










