:root {
  --main-bg-color: #725e6e;
  --main-text-color: #009d98;
  --second-text-color: #bbbec5;
  --second-bg-color: #50eddb;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #011654,
    #035b55,
    #097e82,
    #56c6cc,
    #ddfaef
  );
}

.st {
  color: #19c1c6;
  font-size: 20px;
}
.t1 {
  width: 80px;
  height: 80px;
  text-align: center;
}
.coler {
  background-color: black;
  color: #19c1c6;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
#notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* Set a fixed width for the notification */
  z-index: 1050; /* Bootstrap's modal z-index */
}
